/*main主体部分*/
#main{
    width: 100%;
}
#logo{
    width: 10rem;
    display: block;
    margin: 0 auto ;
    padding: 3.75rem 0 3.5rem; 
}
#login{
    width: 85%; /*280px*/
    margin: 0 auto;
}
.login_text{
    width: 87.5%;
}
.login_text:first-of-type{
    padding-left: 12.5%; 
    margin-bottom: 1.2rem;
    background: url('../img/login/1.png') 1rem no-repeat #ffffff;
    background-size: 1.5rem 1.5rem;   
}
.login_text:nth-of-type(2){   
    padding-left: 12.5%; 
    background: url('../img/login/2.png') 1rem no-repeat #ffffff;
    background-size: 1.4rem 1.8rem;    
}
#login a{
    display: block;
    font: 1.1rem 'HiraginoSansGB';
    color: #f2ac63;
    margin: 1rem 0 3.3rem;
}