html,body{
    background: #ffffff;
}

/* 购物车主体 */
#product_list{
    width: 100%;
    margin-bottom: 10rem;
}

/* 动态添加商品样式 */
#main .btn_round,#main .btn_round_click{
    margin-top: 4.2rem;
}
.btn_round{
    width: 1.6rem;
    height: 1.6rem;
    background: #f2f2f2 url();
    border: 0.1rem solid #c9c9c9;
    border-radius: 1.5rem;
}
.btn_round_click{
    width: 1.8rem;
    height: 1.8rem;
    background: url('../img/选中商品.png') no-repeat;
    background-size: contain;
    border-radius: 1.7rem;
}
#main ul li{
    width: 100%;
    background: #fff;
    border-bottom: 0.1rem solid #dbdbdb;
}
.pic{
    width: 6.9rem;
    height: 6.9rem;
    margin: 1.2rem 0.8rem 1.2rem 0.6rem;
    border: 0.1rem solid #e6e6e6;
}
.pic img{
    width: 100%;
    height: 100%;
}
.name{
    display: block;
    margin-top: 1.6rem;
    font: 1.4rem/1.4rem 'HiraginoSansGB';
    color: #1a1a1a;
}
.money{
    display: block;
    margin-top: 1.5rem;
    font:700 1.4rem/1.4rem 'HiraginoSansGB';
    color: #de0000;
}



/* section3 结算部分 */
#section3{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    border-top:2px solid #ebebeb ;
    border-bottom:2px solid #ebebeb ;
}
#sum{
    width: 94.7%;
    height: 5.4rem;
    margin: 0 auto;
}
#sum_ls{
    margin-top: 1.8rem;

}
#btn_all{
    margin-right: 0.9rem; 
}
#sum_rs{
    width: 35.8%;
    margin: 1rem 0;
    background: #ee4147;
    border-radius: 0.4rem;
    text-align: center;
    font: 700 1.6rem/3.5rem 'HiraginoSansGB';
    color: #ffffff;
}
